---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import GameboyPokedex from '../components/GameboyPokedex.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import YouTube from '../components/YouTube.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="David. — Player 1">
  <Header />
  
  <main class="w-full flex flex-col font-sans">
    
    <div id="era-8bit" class="w-full border-b-[16px] border-[#222]">
      <Hero />
    </div>

    <div id="era-16bit" class="w-full border-b-[16px] border-[#105600] shadow-xl">
      <About />
    </div>

    <div id="era-gameboy" class="w-full border-b-8 border-gray-800 shadow-xl relative z-20">
      <GameboyPokedex />
    </div>

    <div id="era-32bit" class="w-full relative z-10 shadow-[0_20px_50px_rgba(0,0,0,0.8)] border-b-8 border-white/20">
      <Skills />
      <YouTube />
    </div>

    <div id="era-hd" class="w-full border-b-2 border-white/10 shadow-[inset_0_20px_50px_rgba(0,0,0,0.5)]">
      <Projects />
    </div>

    <div id="era-nextgen" class="w-full shadow-[inset_0_20px_50px_rgba(0,0,0,0.8)] relative z-30">
      <Contact />
    </div>
  </main>

  <Footer />
</Layout>